**/*__pycache__*/
**/.env
**/.firebaserc
**/*ignore*/
/ignore-notes.md
/ignore.bash
/venv-linux
/toolbox
/venv-windows
/toolbox.exe
**/client_secret.json
**/service-account.json
**/firebase.json
**/*.keras
DevTools/server_scripts/
UI/login.zip
DeepWiki.md
plan.txt